.nav-ammos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.container-ammo {
    display: flex;
    gap: 10px;
    align-items: center;
}

img:hover {
    cursor: pointer;
    opacity: 0.5;

}

@media (min-width: 200px) and (max-width: 895px) {
    .nav-ammos {
        display: flex;
        flex-direction: column;

    }

    .container-ammo {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}